.container{
    height: 80px;
    width: 100vw;
    position:fixed;
    bottom: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.25);
}

.container ul{
    padding: 0px;
    flex-flow: row nowrap;
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container li{
    width: 125px;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container a{
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
