.container{
    height: 80px;
    width: 100vw;
    position:fixed;
    bottom: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}



.container ul{
    padding: 0px;
    flex-flow: row nowrap;
    width: 100vw;
    height: inherit;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.icon{
    position: fixed;
    bottom: 45px;
}

.container li{
    width: 100%;
    height: inherit;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    opacity: 0.5;
}

.container a{
    width: inherit;
    height: inherit;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.container a:active{
    box-shadow: none;
    text-decoration: none;
    color: inherit;
    background-color: white;
}

.container a:target{
    opacity: 1;
}