
body {
  width: 375px;
  height: 100vh;
  padding: 0;
  margin: 0 auto;
  display: absolute;
  perspective: none;
  background-color: #F8F8F8;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}