.container{
    position:fixed;
    float: initial;
    min-width: 375px;
    height: 100px;
    background-color: #F8F8F8;
}

.container header{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}